<div class="container-fullscreen d-flex justify-content-center align-items-center"
    style="background-image: url('/images/cinema.jpg'); background-size: cover; background-position: center; height: 100vh;">
    <div
        class="bg-success-subtle-main-banner-opacity container col-xl-6 col-xxl-6 px-3 py-4 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-4 fw-bold m-3 fs-1 text-white">CINEMA Ironhack</h1>
            <form action="/movies" method="GET">
                <button class="btn flex-shrink-0 btn-light">Check the movies!</button>
            </form>
        </div>
    </div>
</div>